<h1>Inicio</h1>
<h1>Nombre: Adrián Aguilar</h1>
<h1>Aplicación creada en Ruby on Rails</h1>
<a href='www.espol.edu.ec'> <div class="imagen_logo">
   <%= image_tag "espol.jpg", :alt => "ESPOL", :title => "ESPOL"%>
</div></a>
<div class="imagen_logo">
   <%= image_tag "fiec.jpg", :alt => "Fiec", :title => "Fiec"%>
</div>
<%= link_to "clic para redirigir a la aplicación", controller: "posts" %>
