<marquee><h1>LENGUAJES DE PROGRAMACION -ING. JAVIER TIBAU</h1></marquee>
<center>
<h1>Inicio</h1>
<h1>Nombre: Adrián Aguilar</h1>
<h1>Aplicación creada en Ruby on Rails</h1>

<%= link_to "CLIC PARA REDIRIGIR A LA APLICACIÓN", controller: "posts" %>

<a href='http://espol.edu.ec'> <div class="imagen_logo">
   <%= image_tag "espol.jpg", :alt => "ESPOL", :title => "ESPOL"%>
</div></a>
<a href='http://fiec.espol.edu.ec'><div class="imagen_logo">
   <%= image_tag "fiec.jpg", :alt => "Fiec", :title => "Fiec"%>
</div></a>

</center>
